<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" th:href="@{~/img/ws-icon.ico}" type="image/x-icon"/>

 
    <title th:text="#{index.title}">Work Stocks</title>

    <!-- All Plugins Css -->
    <link th:href="@{~/css/plugins.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{~/css/styles.css}" rel="stylesheet">
    <!-- Custom Color -->
    <link th:href="@{~/css/skin/default.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{~/css/custom.css}" rel="stylesheet">
    <!-- JQuery -->
    <script th:src="@{~/js/jquery.min.js}"></script>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script> -->
    
    


</head>

<body class="green-skin">

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- include here the header -->
	<div th:replace="~{navbar/nav :: nav}"></div>

	<div layout:fragment="content">Main content</div>
    
    
	<footer th:replace="~{footer/footer :: footer}"></footer>

    
	<th:block layout:fragment="script"></th:block>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/select2.min.js}"></script>
<script th:src="@{~/js/aos.js}"></script>
<script th:src="@{~/js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{~/js/owl.carousel.min.js}"></script>
<script th:src="@{~/js/jquery.counterup.min.js}"></script>
<script th:src="@{~/js/slick.js}"></script>
<script th:src="@{~/js/bootstrap-datepicker.js}"></script>
<script th:src="@{~/js/isotope.min.js}"></script>
<script th:src="@{~/js/summernote.js}"></script>
<script th:src="@{~/js/jQuery.style.switcher.js}"></script>
<script th:src="@{~/js/counterup.min.js}"></script>
<script th:src="@{~/js/custom.js}"></script>
<script th:src="@{~/js/jquery.bootpag.min.js}"></script>


    

<!--  @stack('scripts')-->
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->

</body>
</html>
