
    <!-- Working Places -->
    <div th:fragment="working-places" class="tab-pane active container" id="workingPlaces">

        
            <div th:if="${msgSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
                [[#{${msgSuccess}}]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <!-- Error  -->
		    <div th:if="${#fields.hasErrors('${workingPlace}') OR msgError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		    	[[#{${(msgError != null) ? msgError : 'wp.error'}}]]
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		        </button>
		    </div>

        <!-- Working Places -->
        <div class="tr-single-box">
            <div class="tr-single-header">
                <h4 th:text="#{wp.title}"><i class="ti-light-bulb"></i>WP TITLE</h4>
            </div>

            <div class="tr-single-body">
                <table id="work_table" class="table table-striped nowrap">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" th:text="#{wp.city}">CITY</th>
                        <th scope="col" th:text="#{wp.country}">COUNTRY</th>
                        <th scope="col" th:text="#{wp.address}">ADDRESS</th>
                        <th scope="col" th:text="#{wp.type}">TYPE</th>
                        <th scope="col" th:text="#{wp.main}">MAIN</th>
                        <th scope="col" th:text="#{wp.actions}">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr th:each="workingPlace :${workingPlaces}">
                            <th scope="row" th:text="${workingPlace.address.city}">workingPlace city</th>
                            <th scope="row" th:text="${workingPlace.address.country}">workingPlace country</th>
                            <th scope="row" th:text="${workingPlace.address.street}">workingPlace street</th>
                            <th scope="row" th:text="#{${'wp.' + workingPlace.workingPlaceType.name().toLowerCase()}}">workingPlace type)</th>
                            <th scope="row" th:text="${workingPlace.mainWorkingPlace == true ? #messages.msgOrNull('wp.yes') : #messages.msgOrNull('wp.no')}">workingPlace main</th>
                            <td>
                                <div class="dash-action">
                                    <a th:href="@{/company/working-places/edit(id=${workingPlace.id})}" class="dg-edit" data-toggle="tooltip" data-placement="top" th:title="#{ocv.modify}"><i class="ti-pencil"></i></a>
                                    <span data-toggle="tooltip" data-placement="top" th:title="#{ocv.delete}">
                                        <a th:onclick="deleteWorkingPlaceShow([[${workingPlace}]])" href="#" data-toggle="modal" data-target="#delete-workingplace-modal" class="dg-delete"><i class="ti-trash"></i></a>
                                    </span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <table class="price-list-wrap mb-3 mt-5">
                    <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
                        <td>
                            <div class="box-close"><a style="cursor: pointer" id="add-workingplaces-butt" class="delete"><i id="add-workingplaces-icon" class="ti-plus"></i></a></div>
                            <form method="POST" th:action="@{/company/working-places}" th:object="${workingPlace}">
                                <div class="row" id="add-workingplaces" style="display:none;">

                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label th:text="#{wp.city}">CITY</label>
                                            <input class="form-control" th:placeholder="#{wp.city}" type="text" name="city" required th:field="*{address.city}">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label th:text="#{wp.country}">COUNTRY</label>
                                            <input class="form-control" th:placeholder="#{wp.country}" maxlength="2" type="text" name="country" required th:field="*{address.country}">
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label th:text="#{wp.address}">ADDRESS</label>
                                            <input class="form-control" th:placeholder="#{wp.address}" type="text" name="street" required th:field="*{address.street}">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label th:text="#{wp.type}">TYPE</label>
                                        <select class="form-control" id="working-place-type" name="type" required th:field="*{workingPlaceType}">
                                            <option th:value="${T(it.workstocks.entity.enums.WorkingPlaceType).LEGAL}" th:text="#{wp.legal}">LEGAL</option>
                                            <option th:value="${T(it.workstocks.entity.enums.WorkingPlaceType).COMMERCIAL}" th:text="#{wp.commercial}">COMM</option>
                                            <option th:value="${T(it.workstocks.entity.enums.WorkingPlaceType).OPERATIVE}" th:text="#{wp.operative}">OP</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                                        <div class="form-group">
                                            <input type="checkbox" name="primary" id="check-qualification" th:field="*{mainWorkingPlace}">&nbsp;&nbsp;[[#{wp.main}]]</i>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn add-pr-item-btn mt-2 ml-1" th:text="#{wp.addButton}">ADD BTN</button>

                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /Skills Info -->
        
        <div class="modal fade" id="delete-workingplace-modal" tabindex="-1" role="dialog" aria-labelledby="delete-workingplace-modal" aria-hidden="true">
    <style>
        table {
            border-bottom: 0 !important;
        }

        .dataTables_scrollBody {
            border-bottom: 0 !important;
        }

        td {
            height: 35px;
        }

        .paginate_button.current {
            background-color: #00a94f!important;
            background: #00a94f!important;
            border: unset!important;
            color: white!important;
        }

        .paginate_button:hover {
            background-color: #00a94f!important;
            background: #00a94f!important;
            border: unset!important;
        }
    </style>

    <!-- Modal Delete Working Place -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{wp.modalTitle}">modalTitle</h5>
                </div>
                <div class="modal-body" th:text="#{wp.modalBody}">modalBody</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{mj.cancel}">cancel</button>
                    <a id="buttonDelete" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;" th:text="#{mj.delete}">delete</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        jQuery(function($) {
            $(document).ready( function () {

                let options = {
                    "scrollX": true,
                    //"scrollY": '280px',
                    "scrollCollapse": true,
                    "order": false,
                    "targets": 'no-sort',
                    "bSort": false,
                    "bInfo": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bAutoWidth": false,
                    "paging": true,
                    "pageLength": 10,
                    "pagingType": "numbers",
                    "language": {
                        "emptyTable": "[[#{ocv.noData}]]",
                        "sSearch": "[[#{ocv.search}]]",
                        "paginate": {
                            "previous":   "[[#{wp.previous}]]",
                            "next":       "[[#{wp.next}]]",
                        },
                    }
                };

                $('#work_table').DataTable(options);
            } );
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#working-place-type').select2({
                minimumResultsForSearch: -1
            });
        });
    </script>

    <script>
        window.addEventListener('load', function () {
            document.querySelectorAll('ul.pagination > li').forEach(function(item) {
                item.classList.remove("paginate_button");
            });

            // tooltip
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            // add working place
            let $workButt = document.getElementById('add-workingplaces-butt');
            $workButt.addEventListener('click', function (e) {
                let $work = document.getElementById('add-workingplaces');
                $work.style.display = $work.style.display === 'none' ? 'flex' : 'none';
                let $workIcon = document.getElementById('add-workingplaces-icon');
                if ($workIcon.classList.contains('ti-close')) {
                    $workIcon.classList.remove('ti-close');
                    $workIcon.classList.add('ti-plus');
                } else {
                    $workIcon.classList.remove('ti-plus');
                    $workIcon.classList.add('ti-close');
                }
            });
            ////////////////
        });
    </script>

    <script>
        function deleteWorkingPlaceShow(workingPlace) {
            let url = '/company/working-places/delete?id=:id';
            url = url.replace(':id', workingPlace.id);
            document.getElementById("buttonDelete").href = url;
        }
    </script>

    </div>

