<!DOCTYPE html>
<html lang ="en_EN" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/outline}"> 	
<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="Loader"></div>

    <div class="clearfix"></div>


    <!-- ============================ Search Form Start================================== -->
    <section class="p-0 advance-search b-t">
        <div class="container-fluid p-0">

            <form class="search-big-form no-border p-0">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <div class="form-group icon-sub-index">
                            <i class="ti-search"></i>
                            <input id="topFilterNameSurname" type="text" class="form-control b-r keyPress"
                                   th:placeholder="#{applicant-list.nameSurnameTopFilter}">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <div class="form-group icon-sub-index">
                            <i class="ti-location-pin"></i>
                            <input id="topFilterLocation" type="text" class="form-control b-r keyPress"
                                   th:placeholder="#{applicant-list.placeTopFilter}">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                        <div class="form-group icon-sub-index">
                            <i class="ti-briefcase"></i>
                            <input id="topFilterJobTitle" type="text" class="form-control b-r keyPress"
                                   th:placeholder="#{applicant-list.jobTitleTopFilter}"
                            >
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                        <div class="form-group icon-sub-index">
                            <i class="ti-briefcase"></i>
                            <input id="topFilterSkills" type="text" class="form-control b-r keyPress"
                                   th:placeholder="#{applicant-list.jobSkillsTopFilter}"
                            >
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                        <button type="button" id="searchButton"
                                class="btn btn-primary full-width" th:text="#{applicant-list.findSubscriberTopFilterButtom}"></button>
                    </div>
                </div>
            </form>

        </div>
    </section>
    <!-- ============================ Search Form End ================================== -->

    <section class="bg-light">
        <div class="container">


            <div class="row">

                <div class="col-xl-3 col-lg-4">

                    <div class="back-brow">
                        <button type="button" id="resetFilterButton" class="btn btn-primary full-width">
                            <i class="ti-trash"></i>[[#{filters.resetFilterButton}]]
                        </button>

                    </div>

                    <!-- <div class="d-block d-none d-sm-block d-md-none mb-3">
                        <a href="javascript:void(0)" onclick="openNav()" class="btn btn-info full-width btn-md"><i
                                class="ti-filter mrg-r-5"></i>Filter Search</a>
                    </div> -->

                    <div class="sidebar-container d-sm-block d-md-block">

                        <!-- Compensation -->
                        <div class="sidebar-widget">
                            <div class="form-group">
                                <h5 class="mb-2" th:text="#{filters.expectedSalleryTitle}">{{__('jobs/filters.expectedSalleryTitle')}}</h5>
                                <div class="side-imbo">
                                    <ul class="no-ul-list" id="checkBoxFilterSalary">
                                        <li>
                                            <input id="checkbox-c0" class="checkbox-custom" name="group2[]"
                                                   type="checkbox" value="0">
                                            <label for="checkbox-c0" class="checkbox-custom-label" th:utext="#{filters.filterSalaryUpTo('5K','€')}">@lang('jobs/filters.filterSalaryUpTo', ['numero'=> '5K', 'valuta'=> '€'])</label>
                                        </li>

                                        <li>
                                            <input id="checkbox-c1" class="checkbox-custom" name="group2[]"
                                                   type="checkbox" value="1">
                                            <label for="checkbox-c1" class="checkbox-custom-label" th:utext="#{filters.filterSalaryUpTo('10K','€')}">@lang('jobs/filters.filterSalaryUpTo', ['numero'=> '10K', 'valuta'=> '€'])</label>
                                        </li>

                                        <li>
                                            <input id="checkbox-c2" class="checkbox-custom" name="group2[]"
                                                   type="checkbox" value="2">
                                            <label for="checkbox-c2" class="checkbox-custom-label" th:utext="#{filters.filterSalaryUpTo('20K','€')}">@lang('jobs/filters.filterSalaryUpTo', ['numero'=> '20K', 'valuta'=> '€'])</label>
                                        </li>

                                        <li>
                                            <input id="checkbox-c3" class="checkbox-custom" name="group2[]"
                                                   type="checkbox" value="3">
                                            <label for="checkbox-c3" class="checkbox-custom-label" th:utext="#{filters.filterSalaryUpTo('30K','€')}">@lang('jobs/filters.filterSalaryUpTo', ['numero'=> '30K', 'valuta'=> '€'])</label>
                                        </li>

                                        <li>
                                            <input id="checkbox-c4" class="checkbox-custom" name="group2[]"
                                                   type="checkbox" value="4">
                                            <label for="checkbox-c4" class="checkbox-custom-label" th:utext="#{filters.filterSalaryFrom('30K','€')}">@lang('jobs/filters.filterSalaryFrom', ['numero'=> '30K', 'valuta'=> '€'])</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-9 col-lg-8">

                    <div class="row">
                        <!-- layout Wrapper -->
                        <div class="col-md-12 mb-3">
                            <div class="layout-switcher-wrap">
                                <div
                                    class="layout-switcher-left"
                                    id="totalResultsInfo"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        
                        <div class="col-md-12" id="table_data"></div>
						<div class="col-md-12" id="page-selection"></div>


                    </div>
                </div>

            </div>



        </div>
    </section>
    <div class="clearfix"></div>


    <script th:src="@{~/js/custom/subsribers/SubscriberFiltersCriteria.js}"></script>
    
    <script>
        window.skillsFilterTranslation = '[[#{filters.skillsTitle}]]';
    </script>

    <script>
        $(window).on('scroll',function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 450) {
                $('.advance-search').addClass("advn-fixed");
            } else {
                $('.advance-search').removeClass("advn-fixed");
            }
        });
    </script>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('filter[company.name]');

        if (myParam != null) {
            document.getElementById('topFilterCompanyName').value = myParam;
        }
    </script>

</div>