<!-- Single Candidate List -->
<div th:each="subscriber : ${subscribers}" class="candidate-list-layout">
    <div class="cll-wrap">
        <div class="cll-thumb">
            <a href="#"><img th:src="${subscriber.avatar} ? 'data:image/jpeg;base64,' + ${subscriber.base64Avatar} : '/img/default.png'" class="img-responsive img-circle" alt="" /></a>
        </div>
        <div class="cll-caption">
            <h4><a th:href="'/public/applicant?id=' + ${subscriber.id}">[[${subscriber.name} + ' ' + ${subscriber.surname}]]</a>
                
                    <span th:if="${subscriber.jobTitle}"><i class="ti-briefcase"></i>[[${subscriber.jobTitle}]]</span>
                
            </h4>
            
            <ul>
                <li th:if="${subscriber?.address?.country != null or subscriber?.address?.city != null}">
                    
                        <i class="ti-location-pin text-danger"></i>
                 
                    [[${subscriber?.address.country} + ' ' + ${subscriber?.address.city}]]
                </li>
            </ul>
            
        </div>
    </div>

    <div class="cll-right">
        <a th:href="'/public/applicant?id=' + ${subscriber.id}" class="btn btn-primary btn-shortlist"><i class="ti-plus"></i>[[#{applicant-list.showProfile}]]</a>
    </div>
</div>


<script th:inline="javascript">
/*<![CDATA[*/

    let results = /*[[${totalResults}]]*/ '0';
    window.totalResults = results;
    
    if(results == null ||  results == 0) {
		window.totalResults = '';
		window.totalResultI18nString = /*[[#{applicant-list.no-result}]]*/ 'Risultati';
	} else if (results == 1) {
		window.totalResultI18nString = /*[[#{jobs.result}]]*/ 'Risultato';
	} else {
		window.totalResultI18nString = /*[[#{jobs.results}]]*/ 'Risultati';	
	}
/*]]>*/
</script>


