<!-- Single Large Job List -->
<div th:each="job : ${jobs}" class="job-new-list">
    <div class="vc-thumb">
        <img class="img-fluid rounded-circle" th:src="${job.company.companyOwner.avatar} ? 'data:image/jpeg;base64,' + ${job.company.companyOwner.getBase64Avatar} : '/img/default.png'">
    </div>
    <div class="vc-content">
        <h5 class="title"><a th:href="${routeToJobDetail} + '?id=' + ${job.id}" th:text="${job.title}"></a><span
                class="j-full-time" th:text="#{'filters.' + ${job.contractType.snake}}"></span></h5>
        <p th:text="${job?.company.name}"></p>

        <ul class="vc-info-list">
            <li class="list-inline-item">
                <h5 th:text="#{filters.expectedSalleryTitle}"></h5> 
                <i class="ti-credit-card"></i>[[${job.minSalary} + 'K€ - ' + ${job.maxSalary} + 'K€']]
            </li>
            <li class="list-inline-item"><h5 th:text="#{filters.skillsTitle}"></h5>
                <div class="skills">
                	<th:block th:if="${job.skills != null and !job.skills.isEmpty}">
                		<th:block th:each="skill : ${job.skills}">
                		<!-- rimettere il controllo sul numero dell'iterazione e sospendere a tre iterazioni-->
	   <!-- <span>+ {{' '.(count($job->tagNames())-3).' '.trans_choice('jobs/jobs.others',(count($job->tagNames())-3))}}</span>-->
	                            <span th:if="${skillStat.index <= 2}" th:text="${skill.name}"></span>
	                    </th:block>
	                    <th:block th:if="${job.skills != null AND job.skills.size() > 3}">
	                    		<span th:text="${(job.skills.size() - 3) + ' '} + #{jobs.others}"></span>
	                    </th:block>
                    </th:block>
                </div>
            </li>
        </ul>
    </div>
    <a class="btn btn-black bn-det" th:href="${routeToJobDetail} + '?id=' + ${job.id}">[[#{jobs.apply}]]
        <i class="ti-arrow-right ml-1"></i></a>
</div>


<script th:inline="javascript">
/*<![CDATA[*/

    let results = /*[[${totalResults}]]*/ '0';
    window.totalResults = results;
    
    if(results == null ||  results == 0) {
		window.totalResults = '';
		window.totalResultI18nString = /*[[#{jobs.noResult}]]*/ 'Risultati';
	} else if (results == 1) {
		window.totalResultI18nString = /*[[#{jobs.result}]]*/ 'Risultato';
	} else {
		window.totalResultI18nString = /*[[#{jobs.results}]]*/ 'Risultati';	
	}
/*]]>*/
</script>
