<!DOCTYPE html>
<html lang ="en_EN" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/outline}">
<div layout:fragment="content">

<style>
        .mg-edit {
            background: #00a94f3b;
            padding: 6px 16px;
            border-radius: 2px;
            transition: all 0.4s;
            color: #00a94f;
        }

        .mg-edit:hover {
            background: #00a94f;
            color: white!important;
        }
</style>

<div class="container mt-5">


<!-- Modal Delete News -->
<div class="modal fade" id="delete-news-modal" tabindex="-1" role="dialog" aria-labelledby="delete-news-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{blog.modalTitle}">modalTitle</h5>
            </div>
            <div class="modal-body">[[#{blog.modalBody}]]</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">[[#{fv.cancel}]]</button>
                <a id="buttonDelete" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;">[[#{fv.delete}]]</a>
            </div>
        </div>
    </div>
</div>

    
    <div th:if="${msgSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        [[#{${msgSuccess}}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="row mb-3">
    	<div class="col-12">
    		<a type="button" class="btn btn-info" th:text="#{blog.buttonCreate}" th:href="@{/admin/news}">CREA</a>
    	</div>
    </div>
    

    <div class="tr-single-box mb-3">
        <div class="tr-single-header mb-3">
            <h4><i class="ti-layers-alt"></i> [[#{blog.newsListTitle}]]</h4>
        </div>

        <div class="container">

            
            <th:block th:if="${newsList.elements != null and !newsList.elements.isEmpty()}">
                <div th:each="news : ${newsList.elements}" class="p-2">
                	<div class="manage-list">
                		
                		<div class="cll-wrap mg-list-wrap">
                            <div class="cll-thumb">
                                <a href="#" style="cursor: auto"><img style="height: 55px;" height="55" th:src="@{'data:image/jpeg;base64,' + ${news.base64Image}}" class="img-responsive img-circle" alt="" /></a>
                            </div>
                            <div class="cll-caption">
                                <h4><a th:href="@{/public/blog/news(id=${news.id})}" th:text="${news.title}">title</a><span><i class="ti-alarm-clock"></i>[[${#temporals.format(news.createdAt,'dd-MM-yyyy')}]]</span></h4>
                                <ul>
                                    <li>
                                   		<span class="mg-subtitle" style="color: #00a94f" th:text="${news.bodyTextPlain.length > 50 ? news.bodyTextPlain.substring(0,50) + '..' : news.bodyTextPlain}">body</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="mg-action">
                        	<div class="btn-group" data-toggle="tooltip" data-placement="top" th:title="#{blog.newsTooltipEdit}">
                                <a th:href="@{/admin/news(id=${news.id})}" class="mg-edit"><i class="ti-pencil"></i></a>
                            </div>
                            <div class="btn-group" data-toggle="tooltip" data-placement="top" th:title="#{blog.newsTooltipDelete}">
                            	<a th:onclick="deleteNews([[${news.id}]])" data-toggle="modal" data-target="#delete-news-modal" href="#" class="mg-delete"><i class="ti-trash"></i></a>
                            </div>
                        </div>
                        
                     </div>
                        
                </div>
            </th:block>
            
            <th:block th:unless="${newsList.elements != null and !newsList.elements.isEmpty()}">
                <p th:text="#{blog.newsNoContent}">.noContent</p>
            </th:block>
        </div>

    </div>
    
    <div class="row mb-5">              
		<div class="col-md-12" id="page-selection"></div>
	</div>
    
 </div>
 
 	<script>
 		document.addEventListener("DOMContentLoaded", function () {
			let paginazione = $('#page-selection').bootpag({
				total: "[[${newsList.response.totalPages}]]",
				page: "[[${newsList.response.pageNumber}]]",
				maxVisible: 10
			}).on("page", function(event, num) {
				//azioni da eseguire all'evento di cambio pagina '
				window.location.href = '/admin/news-list?page=' + num;
			});
		});
 	</script>


    <script>
        function deleteNews(newsId) {
            let url = '/admin/news/delete?id=:newsId';
            url = url.replace(':newsId', newsId);
            document.getElementById("buttonDelete").href = url;
        }
    </script>

    <script>
        window.addEventListener('load', function () {
            // tooltip
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        });
    </script>
    
    
	
</div>
</html>