<html lang ="en_EN" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/outline}">
<div layout:fragment="content">

    <div class="page-title-wrap pt-img-wrap" th:style="'background:url('+@{/img/login-banner.jpeg}+') no-repeat;'">
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="pt-caption text-center">
                    <h1 th:text=#{loginAndRegister.reset}>reset</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <section>
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="modal-body">

                        <div class="login-form">

                            <form method="POST" th:action="@{/reset-password/changePassword}" th:object="${resetPw}">

                                <input type="hidden" name="token" th:value="${resetPw.token}" th:field="*{token}">

                                <div class="form-group">
                                    <label th:text="#{loginAndRegister.passwordLabel}">passwordLabel</label>
                                    <div class="input-with-gray">
                                        <input id="password" type="password" class="form-control" name="password" th:placeholder="#{loginAndRegister.placeholderPw}" required autocomplete="new-password" th:field="*{newPassword}">
                                        <i class="ti-lock"></i>

                                 	 </div>
                                 	 	<!-- Error -->
                    					<p class="color--error mb-2" th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"><strong>error new password</strong></p>
                                   
                                </div>

                                <div class="form-group">
                                    <label th:text="#{loginAndRegister.passwordConfirmationLabel}">passwordConfirmationLabel</label>
                                    <div class="input-with-gray">
                                        <input id="password-confirm" type="password" class="form-control" name="password_confirmation" th:placeholder="#{loginAndRegister.placeholderPwConfirm}" required autocomplete="new-password" th:field="*{confirmPassword}">
                                        <i class="ti-lock"></i>
                                    </div>
                                    
                                    <!-- Error -->
                    				<p class="color--error mb-2" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"><strong>error confirm password</strong></p>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-md full-width pop-login" th:text="#{loginAndRegister.resetSubmitSend}">resetSubmitSend</button>
                                </div>

                                <div class="modal-footer">
                                    <div class="mf-link"><a class="color--dark mf-link-hover" th:href="@{/login}"><i class="ti-user"></i>[[#{loginAndRegister.loginButtonLabel}]]</a></div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <div class="clearfix"></div>


<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ __('Reset Password') }}</div>

                <div class="card-body">
                    <form method="POST" action="{{ route('password.update') }}">
                        @csrf

                        <input type="hidden" name="token" value="{{ $token }}">

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">{{ __('E-Mail Address') }}</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control @error('email') is-invalid @enderror" name="email" value="{{ $email ?? old('email') }}" required autocomplete="email" autofocus>

                                @error('email')
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                                @enderror
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">{{ __('Password') }}</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control @error('password') is-invalid @enderror" name="password" required autocomplete="new-password">

                                @error('password')
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                                @enderror
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">{{ __('Confirm Password') }}</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    {{ __('Reset Password') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <script>
        $(document).ready(function() {
            document.querySelectorAll(".input-with-gray").forEach(function (item) {
                item.setAttribute("style", "z-index: 0!important;");
            });
        });
    </script>

</div>
</html>