<!DOCTYPE html>
<html lang ="en_EN" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/outline}">
<body>
		
	<div class="Loader"></div>
	
	<!-- ============================ Hero Banner  Start================================== -->
																				 
	<div layout:fragment="content">
	<div class="hero-header jumbo-banner text-center" th:style="'background:url('+@{img/banner_home.jpeg}+');'" data-overlay="6">
		<div class="container">
			<h1 th:text="#{index.banner.title}">Banner Title</h1>
			<p class="lead" th:text="#{index.banner.subtitle}">Subtitle</p>
				<form class="search-big-form no-border search-shadow" method="GET" th:action="@{/public/job-offers}">
					<div class="row m-0">
						<div class="col-lg-5 col-md-5 col-sm-12 p-0">
							<div class="form-group">
								<i class="ti-search"></i>
								<input id="title" name="title" type="text" class="form-control b-r" th:placeholder="#{home.jobTitle}">
							</div>
						</div>
	
						<div class="col-lg-5 col-md-5 col-sm-12 p-0">
							<div class="form-group">
								<i class="ti-location-pin"></i>
								<input id="address" name="address" type="text" class="form-control b-r" th:placeholder="#{home.location}">
							</div>
						</div>
	
						<div class="col-lg-2 col-md-2 col-sm-12 p-0">
							<button id="submitButt" type="submit" class="btn btn-primary full-width" th:text=#{home.submit}>Invia</button>
						</div>
					</div>
				</form>
		</div>
	</div>
	
<!-- ============================ Hero Banner End ================================== -->

<!-- ============================ Popular Companies ================================== -->
<section>
	<div class="container">

		<div class="row">
			<div class="col text-center">
				<div class="sec-heading mx-auto">
					<p th:text="#{index.popular.companies.title}">Aziende più popolari titolo</p>
					<h2 th:text="#{index.popular.companies.subtitle}">Aziende più popolari sottotitolo</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div th:if="${mostRankedCompanies != null and !mostRankedCompanies.isEmpty}" class="owl-carousel" id="job-slide">

				<!-- Single Job-->
				<div th:each="company: ${mostRankedCompanies}" class="item">
					<div class="job-grid style-1">
						<div class="job-grid-wrap">
							<div class="job-grid-thumb">
								<a style="cursor: default;" href="#"><img th:src="${company.companyOwner.avatar} ? @{'data:image/jpeg;base64,' + ${company.companyOwner.getBase64Avatar}} : @{/img/default.png}" class="img-fluid mx-auto" alt="" /></a>
							</div>
							<h4 class="job-title"><a th:href="@{'/public/company?id=' + ${company.companyOwner.id}}" th:text="${company.name}"></a></h4>
							<hr>
							<div class="job-grid-detail">
								<h4 class="jbc-name" th:text="${company.slogan}"></h4>
								<p><i class="ti-location-pin"></i>[[${company.mainWorkingPlace?.address?.city} + ', ' + ${company.mainWorkingPlace?.address?.country}]]</p>
							</div>
							<div class="job-grid-footer" style="justify-content: center;">
								<a th:href="@{'/public/company?id=' + ${company.companyOwner.id}}" class="btn btn-outline-info btn-rounded" th:text="#{home.visitCompany}"></a>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div th:unless="${mostRankedCompanies != null and !mostRankedCompanies.isEmpty}" class="owl-carousel" id="job-slide">
				<div class="container">
					<p th:text=#{home.noPopularCompanies}>No popolari</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ============================ Popular Companies End ================================== -->

<!-- ============================ Category Start ================================== -->
<!--  <section class="gray">
	<div class="container">

		<div class="row">
			<div class="col text-center">
				<div class="sec-heading mx-auto">
					<p>Browse Your jobs By Category</p>
					<h2>Popular Category Jobs</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<ul class="category-wrap">

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-hummer"></i>
						<h4>Construction Work</h4>
						<span>6 new job posted</span>
					</a>
				</li>

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-money"></i>
						<h4>Account / Finance</h4>
						<span>10 new job posted</span>
					</a>
				</li>

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-headphone-alt"></i>
						<h4>Telecommunications</h4>
						<span>12 new job posted</span>
					</a>
				</li>

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-heart-broken"></i>
						<h4>Healthcare</h4>
						<span>6 new job posted</span>
					</a>
				</li>

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-desktop"></i>
						<h4>Designing & Jobs</h4>
						<span>40 new job posted</span>
					</a>
				</li>

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-book"></i>
						<h4>Education Training</h4>
						<span>8 new job posted</span>
					</a>
				</li>

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-car"></i>
						<h4>Automotive Jobs</h4>
						<span>16 new job posted</span>
					</a>
				</li>

				<li>
					<a href="search.html" class="standard-category-box">
						<i class="ti-gift"></i>
						<h4>Banking Jobs</h4>
						<span>10 new job posted</span>
					</a>
				</li>

			</ul>

		</div>

	</div>
</section>
<div class="clearfix"></div> -->
<!-- ============================ Category End ================================== -->

<!-- ============================ Counter Facts  Start================================== --> 
<section class="image-bg text-center" style="background:#00a94f" data-overlay="0">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-md-3 col-sm-6 b-r">
				<div class="count-facts">
					<h4 th:text="${jobCount}"></h4>
					<span th:text=#{home.jobs}>Jobs</span>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 b-r">
				<div class="count-facts">
					<h4 th:text="${applicationCount}"></h4>
					<span th:text=#{home.applications}>Applications</span>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 b-r">
				<div class="count-facts">
					<h4 th:text="${companyCount}"></h4>
					<span th:text=#{home.companies}>Companies</span>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="count-facts">
					<h4 th:text="${applicantCount}"></h4>
					<span th:text=#{home.users}>Users</span>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- ============================ Counter Facts End ================================== -->


<!-- ============================ Popular Jobs Start ================================== --> 
<section>
	<div class="container">

		<div class="row">
			<div class="col text-center">
				<div class="sec-heading mx-auto">
					<p th:text=#{index.popular.jobs.title}>Popular Jobs</p>
					<h2 th:text=#{index.popular.jobs.subtitle}></h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div th:if=${jobs} class="col-md-12">
				<!-- Single Large Job List -->
				<div th:each="job: ${jobs}" class="job-new-list" style="cursor: default">
					<div class="vc-thumb">
						<img class="img-fluid rounded-circle" th:src="${job.company.companyOwner.avatar} ? 'data:image/jpeg;base64,' + ${job.company.companyOwner.getBase64Avatar} : '/img/default.png'" alt="c2.jpg">
					</div>
					<div class="vc-content">
						<h5 class="title"><a th:href="@{'/public/job-offer?id=' + ${job.id}}" th:text="${job.title}"></a><span class="j-full-time" th:text="#{'filters.' + ${job.contractType.snake}}"></span></h5>
						<p th:text="${job.company.name}"></p>
						<ul class="vc-info-list">
							<li class="list-inline-item"><h5 th:text="#{home.salary}"></h5> <i class="ti-credit-card"></i>[[${job.minSalary} + 'K - ' + ${job.maxSalary} + 'K']]</li>
							
							<li th:if="${!job.skills.isEmpty}" class="list-inline-item"><h5 th:text="#{home.skill}"></h5>
								
								
								<div class="skills">
			                		<th:block th:each="skill : ${job.skills}">
			                		<!-- rimettere il controllo sul numero dell'iterazione e sospendere a tre iterazioni-->
				   <!-- <span>+ {{' '.(count($job->tagNames())-3).' '.trans_choice('jobs/jobs.others',(count($job->tagNames())-3))}}</span>-->
				                            <span th:if="${skillStat.index <= 2}" th:text="${skill.name}"></span>
				                    </th:block>
				                    <th:block th:if="${job.skills != null AND job.skills.size() > 3}">
				                    		<span th:text="${(job.skills.size() - 3) + ' '} + #{jobs.others}"></span>
				                    </th:block>
									<!-- <span>Css3</span><span>photoshop</span><span>java</span><span>+3 more</span> -->
								</div>
							</li>
							
						</ul>
					</div>
					<a class="btn btn-primary bn-det" th:href="@{'/public/job-offer?id=' + ${job.id}}">[[#{home.apply}]]<i class="ti-arrow-right ml-1"></i></a>
					</div>
					</div>
				<div th:unless=${jobs} class="col-md-12">
					<div class="container">
						<p th:text=#{home.noJobs}>No Jobs</p>
					</div>

			</div>
		</div>

	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Popular Jobs End ================================== 

<!-- ============================ Blog Start ================================== -->
<section>
	<div class="container">

		<div class="row">
			<div class="col text-center">
				<div class="sec-heading mx-auto">
					<p th:text=#{index.latest.news.title}>Ultime News</p>
					<h2 th:text=#{index.latest.news.subtitle}>Ultime News descrizione</h2>
				</div>
			</div>
		</div>

		<div th:if="${news!= null and !news.isEmpty}" class="row">
				<div th:each="singleNews: ${news}" class="col-lg-4 col-md-4">
					<div class="blog-grid-wrap mb-4">
						<div class="blog-grid-thumb" style="height: 235px">
							<a href="#"><img th:src="${singleNews.image} ? @{'data:image/jpeg;base64,' + ${singleNews.getBase64Image}} : @{/img/default.png}" class="img-responsive" style="height: 100%; width: auto!important" alt="" /></a>
							<h6 class="post-cat" th:text="${#temporals.format(singleNews.createdAt,'dd-MM-yyyy')}"></h6>
						</div>
						<div class="blog-grid-content" style="height: 170px">
							<h4 class="cnt-gb-title"><a th:href="@{'/public/blog/news?id=' + ${singleNews.id}}" th:text="${singleNews.title}"></a></h4>
							<p th:utext="${singleNews.bodyTextPlain.length >= 100 ? (singleNews.bodyTextPlain.substring(0,100) + '...') : singleNews.bodyTextPlain}"></p>
						</div>
						<div class="blog-grid-meta">
							<div class="gb-info-author">
							</div>
							<div class="gb-info-cmt">
								<ul>
									<li><a style="cursor: default" href="#">[[${singleNews.likes} ? ${singleNews.likes.size} : '0']]<i class="fa fa-heart text-info"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		<div th:unless=${news} class="row">
			<div class="container">
				<p th:text=#{home.noNews}>Missing News</p>
			</div>
		</div>

	</div>
</section>
</div>
</body>
</html>
