<!-- My Resume and Online CV -->

<div class="tab-pane active container" id="resume">

<style>
    table {
        border-bottom: 0 !important;
    }

    .dataTables_scrollBody {
        border-bottom: 0 !important;
    }

    td {
        height: 35px;
    }
</style>



    <div th:if="${msgSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        [[#{${msgSuccess}}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Error -->
    <div th:if="${#fields.hasErrors('${qualification}') OR #fields.hasErrors('${experience}') OR #fields.hasErrors('${certificate}') OR #fields.hasErrors('${skill}') OR msgError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
    	[[#{ocv.error}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <!-- Add Educations -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="lni-graduation"></i> [[#{ocv.qualTitle}]]</h4>
        </div>

        <div class="tr-single-body">
            <table id="qualification_table" class="table table-striped nowrap">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{ocv.qualName}">NAME</th>
                    <th scope="col" th:text="#{ocv.date}">DATE</th>
                    <th scope="col" th:text="#{ocv.qualInstitute}">INSTITUTE</th>
                    <th scope="col" th:text="#{ocv.qualValuation}">VALUATION</th>
                    <th scope="col" th:text="#{ocv.qualDescription}">DESCR</th>
                    <th scope="col" th:text="#{ocv.actions}">ACT</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="qualification :${qualifications}">
                        <th scope="row" th:text="${qualification?.name}">NAME</th>
                        <td th:if="${qualification?.endDate != null}" th:text="${qualification?.startDate} + '  -  ' + ${qualification?.endDate}">WITH END</td>
                        <td th:unless="${qualification?.endDate != null}" th:text="${qualification?.startDate} + '  -  ' + ' (' + #{ocv.inProgress} + ')'">WITH END</td>
                        <td th:text="${qualification?.institute}">INSTITUTE</td>
                        <td th:text="${qualification?.valuation}">EVALUATION</td>
                        <td>                            
                            <span th:if="${qualification?.description}" data-toggle="modal" data-target="#qualification-description-modal">
	                            <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" th:title="#{ocv.readDesc}" th:onclick="qualificationDescription([[${qualification}]])">
	                                <i class="ti-eye"></i>
	                            </a>
                            </span>
                        </td>
                        <td>
                            <div class="dash-action">
                                <a th:href="@{/applicant/online-cv/edit(operationType='qualification',id=${qualification.id})}" class="dg-edit" data-toggle="tooltip" data-placement="top" th:title="#{ocv.modify}"><i class="ti-pencil"></i></a>
                                <span data-toggle="tooltip" data-placement="top" th:title="#{ocv.delete}">
                                    <a href="#" class="dg-delete" th:onclick="deleteModalShow([[${qualification}]], 'qualification')" data-toggle="modal" data-target="#delete-qualification-modal"><i class="ti-trash"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="price-list-wrap mb-4 mt-5">
                <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
                    <td>
                        <div class="box-close"><a style="cursor: pointer" id="add-qualification-butt" class="delete"><i id="add-qualification-icon" class="ti-plus"></i></a></div>

                        <form method="POST" th:action="@{/applicant/online-cv/qualification}" th:object="${qualification}">
                            <div id="add-qualification" class="row" style="display: none">

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.qualName}">QUAL NAME</label>
                                        <input class="form-control" name="name" th:placeholder="#{ocv.qualName}" type="text" th:field="*{name}" th:value="${qualification.name}" required>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group mt-1 float-right">
                                        <input type="checkbox" name="inProgress" id="check-qualification" th:field="*{inProgress}">&nbsp;&nbsp;[[#{ocv.inProgress}]]
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.startDate}">START DATE</label>
                                        <input type="date" class="form-control" name="startDate" required th:field="*{startDate}">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.endDate}">END DATE</label>
                                        <input id="end-qualification" type="date" class="form-control" name="endDate" th:field="*{endDate}">
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.qualInstitute}">INSTITUTE</label>
                                        <input th:placeholder="#{ocv.phInstitute}" name="institute" type="text" class="form-control" required th:field="*{institute}">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.qualDescription}">DESCR</label>
                                        <textarea th:placeholder="#{ocv.qualDescription}" name="description" class="form-control" th:field="*{description}"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.qualValuation}">VALUATION</label>
                                        <input th:placeholder="#{ocv.qualValuation}" name="valuation" type="text" class="form-control" th:field="*{valuation}">
                                    </div>
                                </div>

                                <button type="submit" class="btn add-pr-item-btn mt-2 ml-1" th:text="#{ocv.addButton}">ADD BTN</button>
                            </div>
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /Education Info -->

    <!-- Modal Delete Qualification -->
    <div class="modal fade" id="delete-qualification-modal" tabindex="-1" role="dialog" aria-labelledby="delete-qualification-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{ocv.modalTitle}">MODAL TITLE</h5>
                </div>
                <div class="modal-body" th:text="#{ocv.modalBodyQualification}">MODAL BODY QUALIFICATION</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{mj.cancel}">CANCEL</button>
                    <a id="buttonDeleteQualification" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;" th:text="#{mj.delete}">DELETE</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Qualification Description -->
    <div class="modal fade" id="qualification-description-modal" tabindex="-1" role="dialog" aria-labelledby="qualification-description-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{ocv.qualModalTitle}">QUAL MODAL TITLE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-qualification"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{ocv.close}">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Experience -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="lni-briefcase"></i> [[#{ocv.expTitle}]]</h4>
        </div>

        <div class="tr-single-body">
            <table id="experience_table" class="table table-striped nowrap">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{ocv.titleExp}">TITLE EXP</th>
                    <th scope="col" th:text="#{ocv.date}">DATE</th>
                    <th scope="col" th:text="#{ocv.expDescription}">EXP DESCR</th>
                    <th scope="col" th:text="#{ocv.actions}">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="experience :${experiences}">
                        <th scope="row" th:text="${experience?.jobPosition + ' @ ' + experience?.company}">JOB POSITION</th>
                        <td th:if="${experience?.endDate != null}" th:text="${experience?.startDate} + ' - ' + ${experience?.endDate}">WITH END</td>
                        <td th:unless="${experience?.endDate != null}" th:text="${experience?.startDate} + ' (' + #{ocv.inProgress} + ')'">WITH END</td>
                        <td>
                                <span th:if="${experience?.description != null}" data-toggle="modal" data-target="#experience-description-modal">
                                <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" th:title="#{ocv.readDesc}" th:onclick="experienceDescription([[${experience}]])">
                                    <i class="ti-eye"></i>
                                </a>
                                </span>
                        </td>
                        <td>
                            <div class="dash-action">
                                <a th:href="@{/applicant/online-cv/edit(operationType='experience',id=${experience.id})}" class="dg-edit" data-toggle="tooltip" data-placement="top" th:title="#{ocv.modify}"><i class="ti-pencil"></i></a>
                                <span data-toggle="tooltip" data-placement="top" th:title="#{ocv.delete}">
                                    <a href="#" th:onclick="deleteModalShow([[${experience}]], 'experience')" data-toggle="modal" data-target="#delete-experience-modal" class="dg-delete"><i class="ti-trash"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="price-list-wrap mb-3 mt-5">
                <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
                    <td>
                        <div class="box-close"><a style="cursor: pointer" id="add-experience-butt" class="delete"><i id="add-experience-icon" class="ti-plus"></i></a></div>
                        <form method="POST" th:action="@{/applicant/online-cv/experience}" th:object="${experience}">
                            <div class="row" id="add-experience" style="display: none">

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.expJob}">EXP JOB</label>
                                        <input class="form-control" type="text" th:placeholder="#{ocv.expJob}" name="jobPosition" required th:field="*{jobPosition}">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.expCompany}">COMPANY</label>
                                        <input th:placeholder="#{ocv.phCompany}" type="text" class="form-control" name="company" required th:field="*{company}">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group mt-1 float-right">
                                        <input type="checkbox" name="inProgress" th:field="*{inProgress}" id="check-experience">&nbsp;&nbsp;[[#{ocv.inProgress}]]
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.startDate}">START DATE</label>
                                        <input type="date" class="form-control" name="startDate" required th:field="*{startDate}">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.endDate}">END DATE</label>
                                        <input id="end-experience" type="date" class="form-control" name="endDate" th:field="*{endDate}">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.expDescription}">EXP DESCR</label>
                                        <textarea th:placeholder="#{ocv.expDescription}" name="description" class="form-control" required th:field="*{description}"></textarea>
                                    </div>
                                </div>

                                <button type="submit" class="btn add-pr-item-btn mt-2 ml-1" th:text="#{ocv.addButton}">ADD BTN</button>

                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

        <!-- Modal Delete Experience -->
        <div class="modal fade" id="delete-experience-modal" tabindex="-1" role="dialog" aria-labelledby="delete-experience-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{ocv.modalTitle}">MOD TITLE</h5>
                    </div>
                    <div class="modal-body" th:text="#{ocv.modalBodyExperience}">MOD BODY EXPERIENCE</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{mj.cancel}">MJ CANCEL</button>
                        <a id="buttonDeleteExperience" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;" th:text="#{mj.delete}">delete</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Qualification Description --> 
        <div class="modal fade" id="experience-description-modal" tabindex="-1" role="dialog" aria-labelledby="xperience-description-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{ocv.expModalTitle}">EXP MODAL TITLE</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-experience"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{ocv.close}">BTN CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- Add Certificates -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="ti-cup"></i> [[#{ocv.certTitle}]]</h4>
        </div>

        <div class="tr-single-body">
            <table id="certificate_table" class="table table-striped nowrap">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{ocv.titleCert}">titleCert</th>
                    <th scope="col" th:text="#{ocv.date}">date</th>
                    <th scope="col" th:text="#{ocv.certCredential}">certCredential</th>
                    <th scope="col" th:text="#{ocv.societyCert}">societyCert</th>
                    <th scope="col" th:text="#{ocv.actions}">actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="certificate :${certificates}">
                        <th scope="row" th:text="${certificate?.name}">name</th>
                        <td th:if="${certificate?.endDate != null}" th:text="${certificate?.date} + ' - ' + ${certificate?.endDate}">WITH END</td>
                        <td th:unless="${certificate?.endDate != null}" th:text="${certificate?.date} + ' (' + #{ocv.inProgress} + ')'">WITH NO END</td>
                        
                        <td><a th:style="${certificate.url != null ? 'text-decoration-line: underline;' : ''}" th:href="${certificate.url != null ? certificate.url : 'javascript:void(0)'}" target="_blank" th:text="${certificate?.credential}">credential</a></td>
                        <td th:text="${certificate?.society}">society</td>
                        <td>
                            <div class="dash-action">
                                <a th:href="@{/applicant/online-cv/edit(operationType='certificate',id=${certificate.id})}" class="dg-edit" data-toggle="tooltip" data-placement="top" th:title="#{ocv.modify}"><i class="ti-pencil"></i></a>
                                <span data-toggle="tooltip" data-placement="top" th:title="#{ocv.delete}">
                                    <a href="#" th:onclick="deleteModalShow([[${certificate}]], 'certificate')" data-toggle="modal" data-target="#delete-certificate-modal" class="dg-delete"><i class="ti-trash"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="price-list-wrap mb-3 mt-5">
                <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
                    <td>
                        <div class="box-close"><a style="cursor: pointer" id="add-certificate-butt" class="delete"><i id="add-certificate-icon" class="ti-plus"></i></a></div>
                        <form method="POST" th:action="@{/applicant/online-cv/certificate}" th:object="${certificate}">
                            <div class="row" id="add-certificate" style="display: none">

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.certName}">certName</label>
                                        <input class="form-control" type="text" th:placeholder="#{ocv.phCertificate}" name="certificateName" required th:field="*{name}">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.certSociety}">certSociety</label>
                                        <input th:placeholder="#{ocv.phSociety}" type="text" class="form-control" name="certificateSociety" required th:field="*{society}">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group mt-1 float-right">
                                        <input type="checkbox" name="noEnd" id="no-end-certification" th:field="*{noExpiration}">&nbsp;&nbsp;[[#{ocv.certNoExp}]]
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.certGet}">certGet</label>
                                        <input type="date" class="form-control" name="date" required th:field="*{date}">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.certExpired}">.certExpired</label>
                                        <input id="end-certification" type="date" class="form-control" name="endDate" th:field="*{endDate}">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.certCredential}">certCredential</label>
                                        <input type="text" th:placeholder="#{ocv.phCredential}" class="form-control" name="credential" required th:field="*{credential}">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label th:text="#{ocv.certLink}">certLink</label>
                                        <input type="text" th:placeholder="#{ocv.phLink}" class="form-control" name="link" th:field="*{url}">
                                    </div>
                                </div>

                                <button type="submit" class="btn add-pr-item-btn mt-2 ml-1" th:text="#{ocv.addButton}">addButton</button>

                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /Certificates Info -->

    <!-- Modal Delete Certificate -->
    <div class="modal fade" id="delete-certificate-modal" tabindex="-1" role="dialog" aria-labelledby="delete-certificate-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{ocv.modalTitle}">modalTitle</h5>
                </div>
                <div class="modal-body" th:text="#{ocv.modalBodyCertificate}">modalBodyCertificate</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{mj.cancel}">cancel</button>
                    <a id="buttonDeleteCertificate" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;" th:text="#{mj.delete}">delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Skills -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="ti-light-bulb"></i> [[#{ocv.skillTitle}]]</h4>
        </div>

        <div class="tr-single-body">
            <table id="skill_table" class="table table-striped nowrap">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{ocv.skillName}">skillName</th>
                    <th scope="col" th:text="#{ocv.skillLevel}">{skillLevel</th>
                    <th scope="col" th:text="#{ocv.actions}">actions</th>
                </tr>
                </thead>
            	<tbody>
                    <tr th:each="skill :${skills}">
                        <th scope="row" th:text="${skill?.name}">name</th>
                        <td>[[#{ocv.+${skill?.assestment.name().toLowerCase()}}]]</td>
                        <td>
                            <div class="dash-action">
                                <a th:href="@{/applicant/online-cv/edit(operationType='skill',id=${skill.id})}" class="dg-edit" data-toggle="tooltip" data-placement="top" th:title="#{ocv.modify}"><i class="ti-pencil"></i></a>
                                <span data-toggle="tooltip" data-placement="top" th:title="#{ocv.delete}">
                                    <a href="#" th:onclick="deleteModalShow([[${skill}]], 'skill')" data-toggle="modal" data-target="#delete-skill-modal" class="dg-delete"><i class="ti-trash"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="price-list-wrap mb-3 mt-5">
                <tbody class="ui-sortable"><tr class="pricing-list-item pattern ui-sortable-handle">
                    <td>
                        <div class="box-close"><a style="cursor: pointer" id="add-skill-butt" class="delete"><i id="add-skill-icon" class="ti-plus"></i></a></div>
                        <form method="POST" th:action="@{/applicant/online-cv/skill}" th:object="${skill}">
                            <div class="row" id="add-skill" style="display:none;">

                                <div class="ccol-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.skillName}">skillName</label>
                                        <input class="form-control" th:placeholder="#{ocv.phSkill}" type="text" name="skillName" required th:field="*{name}">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{ocv.skillLevel}">skillLevel</label>
                                        <select class="form-control" name="skillLevel" required id="level-skill-select" th:field="*{assestment}">
                                            <option th:value="${T(it.workstocks.entity.enums.Assestment).BEGINNER}" th:text="#{ocv.beginner}">.beginner</option>
                                            <option th:value="${T(it.workstocks.entity.enums.Assestment).INTERMEDIATE}" th:text="#{ocv.intermediate}">intermediate</option>
                                            <option th:value="${T(it.workstocks.entity.enums.Assestment).ADVANCED}" th:text="#{ocv.advanced}">advanced</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn add-pr-item-btn mt-2 ml-1" th:text="#{ocv.addButton}">addButton</button>

                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /Skills Info -->

    <!-- Add CV file -->
    <div class="tr-single-box">
        <div class="tr-single-header">
        
            <h4><i class="ti-file"></i> [[#{ocv.cvTitle}]]</h4>
        </div>

        <div class="tr-single-body">
            <form id="form-cv" method="POST" th:action="@{/applicant/online-cv/cv}" enctype="multipart/form-data">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row float-right">
                        
                            <p  th:if="${#authentication.principal.user?.curricula != null AND #authentication.principal.user?.curricula.length > 0}" class="mr-3">[[${'CV' + '-' + #authentication.principal.user?.name +  "-" + #authentication.principal.user?.surname + '.pdf'}]]</p>
                            <div class="form-group mr-2">
                                <a th:href="@{/public/download-cv}">
                                    <button th:disabled="${#authentication.principal.user?.curricula == null OR #authentication.principal.user?.curricula.length <= 0}" type="button" class="btn btn-primary p-15" data-toggle="tooltip" data-placement="top"><i class="ti-download mr-2"></i>[[#{ocv.downloadCv}]]</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label th:text="#{ocv.cv}">.cv</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="ccv" name="cv" accept=".pdf" required>
                                <label class="custom-file-label" for="ccv" th:text="#{ocv.chooseCv}">chooseCv</label>
                            </div>
                        </div>
                    </div>

                    <button id="butt-cv" th:onclick="loadCV()" type="submit" class="btn add-pr-item-btn mt-2 ml-1" th:text="#{ocv.loadCvFile}">loadCvFile</button>

                </div>
            </form>
            
            <hr class="mt-5">
            
            <form id="auto-form-cv" method="POST" th:action="@{/applicant/online-cv/cv?autoGenerate=true}">
                <div class="row">
                
                	<div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label th:text="#{ocv.generateText}">Generate text</label>
                        </div>
                    </div>

                    <button id="auto-butt-cv" th:onclick="autoloadCV()" type="submit" class="btn add-pr-item-btn mt-2 ml-1" th:text="#{ocv.generateButton}">Generate</button>

                </div>
            </form>
			
        </div>

    </div>

        <!-- Modal Delete Skill -->
        <div class="modal fade" id="delete-skill-modal" tabindex="-1" role="dialog" aria-labelledby="delete-skill-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{ocv.modalTitle}">modalTitle</h5>
                    </div>
                    <div class="modal-body" th:text="#{ocv.modalBodySkill}">modalBodySkill</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{mj.cancel}">cancel</button>
                        <a id="buttonDeleteSkill" href="#" class="btn btn-danger color--white" style="border-color: transparent!important;" th:text="#{mj.delete}">delete</a>
                    </div>
                </div>
            </div>
        </div>


<script type="text/javascript" th:src="@{~/js/dashboard.js}"></script>
<script type="text/javascript" th:src="@{~/js/dashboard-in-progress.js}"></script>

<script>
    jQuery(function($) {
        $(document).ready( function () {

            /*$("#datepicker").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years"
            });*/

            let options = {
                "scrollX": true,
                "scrollY": '280px',
                "scrollCollapse": true,
                "order": false,
                "targets": 'no-sort',
                "bSort": false,
                "bInfo": false,
                "bLengthChange": false,
                "bFilter": true,
                "bAutoWidth": false,
                "paging": false,
                "language": {
                    "emptyTable": "[[#{ocv.noData}]]",
                    "sSearch": "[[#{ocv.search}]]"
                }
            };

            $('#qualification_table').DataTable(options);
            $('#skill_table').DataTable(options);
            $('#experience_table').DataTable(options);
            $('#certificate_table').DataTable(options);
        } );
    });
</script>

<script>
    function qualificationDescription(qualification) {
        document.getElementById("modal-qualification").innerHTML = qualification.description;
    }

    function experienceDescription(experience) {
        document.getElementById("modal-experience").innerHTML = experience.description;
    }
</script>

<script>
    $(document).ready(function() {
        $('#level-skill-select').select2({
            minimumResultsForSearch: -1
        });
    });
</script>

<script>
    function deleteModalShow(obj, opType) {
        //console.log("obj: ", obj);
        //console.log("obj: ", obj['id']);
        let url = '/applicant/online-cv/delete?operationType=:opType&id=:id';
        url = url.replace(':id', obj.id);
        url = url.replace(':opType', opType);

        switch(opType) {
            case 'qualification':
                document.getElementById("buttonDeleteQualification").href = url;
                break;
            case 'experience':
                document.getElementById("buttonDeleteExperience").href = url;
                break;
            case 'certificate':
                document.getElementById("buttonDeleteCertificate").href = url;
                break;
            case 'skill':
                document.getElementById("buttonDeleteSkill").href = url;
                break;
            default:
        }


    }
</script>   

<script>
	function htmlToElement(html) {
		let template = document.createElement('template');
		html = html.trim(); // Never return a text node of whitespace as the result
		template.innerHTML = html;
		return template.content.firstChild;
	}

	function loadCV() {
		const $button = document.getElementById('butt-cv');

		const spinner = htmlToElement('<div class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>');
		$button.replaceWith(spinner);

		document.getElementById('form-cv').submit();
	}
	
	function autoloadCV() {
		const $button = document.getElementById('auto-butt-cv');

		const spinner = htmlToElement('<div class="spinner-border text-success ml-2" role="status"><span class="sr-only">Loading...</span></div>');
		$button.replaceWith(spinner);

		document.getElementById('auto-form-cv').submit();
	}
</script> 


</div>

