<div class="row">

<div class="col-lg-4 col-md-4" th:each="news : ${newsList}">
	<div class="blog-grid-wrap mb-4">
		<div class="blog-grid-thumb" style="height: 235px">
			<a href="#"><img th:src="'data:image/jpeg;base64,' + ${news.base64Image}" class="img-responsive" style="height: 100%; width: auto!important" alt="" /></a>
			<h6 class="post-cat" th:text="${#temporals.format(news.createdAt,'dd-MM-yyyy')}">date</h6>
		</div>
		<div class="blog-grid-content" style="height: 170px">
			<h4 class="cnt-gb-title"><a th:href="'/public/blog/news?id=' + ${news.id}" th:text="${news.title}">title</a></h4>
			<p th:text="${news.bodyTextPlain.length >= 100 ? (news.bodyTextPlain.substring(0,100) + '...') : news.bodyTextPlain}">body</p>
		</div>
		<div class="blog-grid-meta">
			<div class="gb-info-author">
			</div>
			<div class="gb-info-cmt">
				<ul>
					<li><a style="cursor: default" href="javascript:void(0)">[[${news.likes != null ? news.likes.size : '0'}]]<i class="fa fa-heart text-info"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div th:if="${newsList == null || newsList.isEmpty()}" class="container">
	<p th:text="#{blog.noNews}">blog.noNews</p>
</div>

</div>